@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
--cyan: hsl(179, 62%, 43%);
--briyellow: hsl(71, 73%, 54%);
--ligray: hsl(204, 43%, 93%);
--grayblue: hsl(218, 22%, 67%);}

body {background: hsla(218, 22%, 67%,20%);
    min-height: 100vh;
}

 .sr-only {
    position: absolute ;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
  }

/*Mobile - 375px*/

main {
  min-height: 100vh;
  max-width: 400px;
    margin: 0 auto;
  display: grid;
  place-content: center;
}

.price-container {   display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content max-content max-content;
  width: 90%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px var(--grayblue);
  
}

.price-sum {width: 100%; background: white; grid-column-start: 1; grid-column-end: 3; height: 100%; border-radius: 15px 15px 0 0; }

.price-wrap {display: flex; align-items: flex-start; justify-content: space-evenly; flex-direction: column; width: 80%; margin: 20px; height: 80%;}

.price-sum h2 {font-family: 'Karla', sans-serif; color: var(--cyan);}
.price-sum h3 {font-family: 'Karla', sans-serif; color: var(--briyellow);}
.price-sum section {color: var(--grayblue);font-size: 14px; text-align: justify; width: 100%; weight: 400;}

.price-sub h2, .price-about h2 {color: var(--ligray);font-family: 'Karla', sans-serif; font-size: 16px;}
.price-sub b {font-size: 30px; color:hsla(204, 43%, 93%,100%);}
.price-sub h3 {color: hsla(204, 43%, 93%,70%);font-family: 'Karla', sans-serif; font-size: 14px;}
.price-sub section {color: var(--ligray);font-size: 14px; text-align: justify; width: 100%; weight: 400;}

.price-button {width: 100%; height: 70px; display: grid; align-content: center; justify-content: center; border-radius: 10px; background: var(--briyellow); color: var(--ligray); text-decoration: none; margin-top: 15px;}
.price-button:hover {background:var(--grayblue);}

.price-sub {width: 100%; height: 100%; background: var(--cyan);}

.price-about {width: 100%; height: 100%; background: hsla(179, 62%, 43%,80%); border-radius: 0 0 15px 15px; grid-row-start: 3;}
.price-about ul {list-style-type: none; color: var(--ligray); font-size: 16px; font-family: 'Karla', sans-serif; padding:0;}

/*Desktop - 1440px*/
@media screen and (min-width: 900px)

{
  main {
    min-width: 950px;
    min-height: 50vh;
    display: grid; place-content: center;
  }
  
  .price-container { display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 0% 0%;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "price-sum price-sum"
    "price-sub price-wrap";
  width: 40em;
 height:28em;
  border-radius: 15px;
  box-shadow: 10px 10px 10px var(--grayblue);
  
}

  .price-sum {width: 100%; background: white; grid-column-start: 1; grid-column-end: 3; height: 100%; border-radius: 15px 15px 0 0; }
  
  .price-sub {grid-row-start:2;border-radius: 0 0 0 15px;}
  .price-about {grid-row-start: 2;border-radius: 0 0 15px 0;}


}